VITE_FIREBASE_API_KEY=AIzaSyBIPKsUtzPKpWjZu9QoQgoVz241PIPHz04
VITE_FIREBASE_AUTH_DOMAIN=assignmentnine-8d033.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=assignmentnine-8d033
VITE_FIREBASE_STORAGE_BUCKET=assignmentnine-8d033.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=422886032955
VITE_FIREBASE_APP_ID=1:422886032955:web:a0a22f1d1936abfde4be1e
VITE_API_BASE_URL=https://drass94-server.onrender.com/


